<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>乐糕SWEET</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- all css here -->
    <link rel="stylesheet" href="__FCSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__FCSS__/icons.css">
    <link rel="stylesheet" href="__FCSS__/plugins.css">
    <link rel="stylesheet" href="__FCSS__/style.css">
    <link rel="stylesheet" href="__FCSS__/responsive.css">
    <link rel="icon" href="__FIMAGES__/indeximg/logo/legao.ico" type="image/x-icon">
    <link rel="shortcut icon" href="__FIMAGES__/indeximg/legao.ico" type="image/x-icon">
    <script src="__JS__/vendor/modernizr-2.8.3.min.js"></script>
    <style type="text/CSS">
        .storeimg{width: 270px;height: 180px;}
        .meanmenu-reveal{margin-top: -15px;}
    </style>
</head>
<body>
<!--<header class="header-area transparent-bar header-black stick">-->
<header class="header-area header-black stick" style="height:80px;">
    <div class="container" id="toubu">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-5 col-sm-4">
                <div class="logo">
                    <a href="{:url('front.index/index')}">
                        <img style="height: 60px;width: 60px;" class="logo-normal" alt="" src="__FIMAGES__/indeximg/logo/sweet-white-small.png">
                        <img  style="height: 60px;width: 60px;"  class="logo-sticky" alt="" src="__FIMAGES__/indeximg/logo/sweet-black-samll.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-7 col-sm-8">
                <div class="menu-search-bundle">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="{:url('front.index/index')}">首页</a></li>
                                <li><a href="{:url('front.index/exchange')}">兑换商品</a></li>
                                <li><a href="{:url('front.index/index','','html')}#contactme">联系我们</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="search-wrap">
                        <button class="search-toggle" style="margin-top:-2px;">
                            <span style="font-size: 14px;font-family:微软雅黑"><b>兑换券查询</b></span>
                            <i class="fa fa-search"></i>
                        </button>
                        <div class="search">
                            <form action="#" method="post" >
                                <input id="inputcode" type="search" placeholder="输入兑换码查询" name="codenumber">
                                <button type="submit" id="searchbutton">
                                    查询
                                </button>
                            </form>
                        </div>
                        <script src="__BJS__/jquery.min.js"></script>
                        <script type="text/javascript">
                            $(document).ready(function(){
                                $("#searchbutton").click(function(){
                                    var code;
                                    code=$("#inputcode").val()
                                    window.location.href ="{:url('front.index/searchcode','','')}"+"/codenumber/"+ code+".html";
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area d-md-block d-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="{:url('front.index/index')}">首页</a></li>
                            <li><a href="{:url('front.index/exchange')}">兑换商品</a></li>
                            <li><a href="{:url('front.index/index','','html')}#contactme">联系我们</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
{__CONTENT__}
{empty name="Request.param.foot"}
<footer class="footer-area">
    <div class="footer-area-top black-bg pt-95 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-30">
                            <h4 id="contactme">关于我们</h4>
                        </div>
                        <div class="footer-about">
                            <p> SWEET俱乐部是一家关注甜品，为民众提供最美味、最快捷、最方便的商家</p>
                         <!--   <div class="footer-map">
                                <a href="contact.html"><i class="ion-ios-location-outline"></i> 导航公司</a>
                            </div>-->
                        </div>
                        <div class="social-icon">
<!--                            <ul>
                                <li><a class="facebook" href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a class="twitter" href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a class="instagram" href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>-->
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-30">
                            <h4>联系我们</h4>
                        </div>
                        <div class="footer-cont-info">
                            <div class="single-footer-cont-info">
                                <div class="cont-info-icon">
                                    <i class="fa fa-home"></i>
                                </div>
                                <div class="cont-info-content">
                                    <p>惠州市惠城区演达一路港惠新天地</p>
                                </div>
                            </div>
                            <div class="single-footer-cont-info">
                                <div class="cont-info-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="cont-info-content">
                                    <p>0752-453290</p>
                                    <p>0752-453290</p>
                                </div>
                            </div>
                            <div class="single-footer-cont-info">
                                <div class="cont-info-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="cont-info-content">
                                    <a href="#">sweetclub@126.com</a>
                                    <a href="#">sweetservice@126.com</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-30">
                            <h4>客服时间</h4>
                        </div>
                        <div class="open-time pr-30">
                            <ul>
                                <li>
                                    周六
                                    <span>9am - 11pm</span>
                                </li>
                                <li>
                                    周日
                                    <span>Close</span>
                                </li>
                                <li>
                                    周一
                                    <span>9am - 11pm</span>
                                </li>
                                <li>
                                    周二
                                    <span>9am - 11pm</span>
                                </li>
                                <li>
                                    周三
                                    <span>9am - 11pm</span>
                                </li>
                                <li>
                                    周四
                                    <span>9am - 11pm</span>
                                </li>
                                <li>
                                    周五
                                    <span>9am - 11pm</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="footer-widget mb-40">
                        <div class="footer-title mb-30">
                            <h4>商务合作</h4>
                        </div>
                        <div class="newsletter-style">
                            <p> 如需商务合作，请致电或电邮我们，我们将竭诚为你您服务</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom black-bg-2 pb-25 pt-25">
        <div class="container">
            <div class="copyright text-center">
                <p>Copyright &copy; 2020.Company name All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
{/empty}
<script src="__FJS__/vendor/jquery-1.12.0.min.js"></script>
<script src="__FJS__/popper.js"></script>
<script src="__FJS__/bootstrap.min.js"></script>
<script src="__FJS__/ajax-mail.js"></script>
<script src="__FJS__/plugins.js"></script>
<script src="__FJS__/main.js"></script>
</body>
</html>