<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>SWEET联盟</title>
    <meta name="description" content="">
    <meta name="robots" content="noindex, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- all css here -->
    <link rel="stylesheet" href="__FCSS__/bootstrap.min.css">
    <link rel="stylesheet" href="__FCSS__/icons.css">
    <link rel="stylesheet" href="__FCSS__/plugins.css">
    <link rel="stylesheet" href="__FCSS__/style.css">
    <link rel="stylesheet" href="__FCSS__/responsive.css">
    <script src="__JS__/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!-- header start -->
<header class="header-area transparent-bar header-position">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-5 col-sm-4">
                <div class="logo">
                    <a href="{:url('front.index/index')}">
                        <img class="logo-normal" alt="" src="__FIMAGES__/indeximg/logo/logo.png">
                        <img class="logo-sticky" alt="" src="__FIMAGES__/indeximg/logo/logo-black.png">
                    </a>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 col-7 col-sm-8">
                <div class="menu-search-bundle">
                    <div class="main-menu">
                        <nav>
                            <ul>
                                <li><a href="{:url('front.index/index')}">首页</a></li>
                                <li><a href="{:url('front.index/exchange','','')}">兑换商品</a></li>
                                <li><a href="{:url('front.index/index','','html')}#contactme">联系我们</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="search-wrap">
                        <button class="search-toggle">
                            <span style="font-size: 14px;">兑换券查询</span>
                            <i class="fa fa-search"></i>
                        </button>
                        <div class="search">
                            <form action="#">
                                <input type="search" placeholder="输入兑换码查询">
                                <button type="submit">
                                    查询
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area d-md-block d-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li><a href="{:url('front.index/index')}">首页</a></li>
                            <li><a href="{:url('front.index/exchange','','')}">兑换商品</a></li>
                            <li><a href="{:url('front.index/index','','html')}#contactme">联系我们</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
{__CONTENT__}
<!-- all js here -->
<script src="__FJS__/vendor/jquery-1.12.0.min.js"></script>
<script src="__FJS__/popper.js"></script>
<script src="__FJS__/bootstrap.min.js"></script>
<script src="__FJS__/ajax-mail.js"></script>
<script src="__FJS__/plugins.js"></script>
<script src="__FJS__/main.js"></script>
</body>
</html>