{layout name="frontlayout2" /}
<script src="__BJS__/jquery.min.js"></script>
<script>

    $(function () {
        $("#selftake").click(function () {
            var $cr = $("#selftake");
            //alert($cr);
            if ($cr.is(":checked")) {
                $("#orderaddress").attr("disabled", true).val("");
                $("#expressfee").val("");
                $("#currentexpressfee").text("");
                $("#expressinfo").hide();

            }
            else {
                $("#orderaddress").attr("disabled", false).val("请填入配送地址");
                $("#expressinfo").show();
            }
        });
        $("#refresh").click(function(){
            var address=$("#orderaddress").val();
            var lat={$storeinfo.latitude};
            var lon={$storeinfo.longitude};
            $.ajax({
                type:"post",
                url:"{:url('front.index/countexpressfee')}",
                data:{lat:lat,lon:lon,address:address,sdistance:{$pstoreinfo.sdistance},sprice:{$pstoreinfo.sprice},exprice:{$pstoreinfo.exprice}},
                dataType:"json",
                success:function(data){
                    console.log(data);
                    $("#expressfee").val(data);
                    $("#currentexpressfee").text(data+"元");
                }
            });
        });
        $("#orderaddress").blur(function(){
            var address=$("#orderaddress").val();
            var lat={$storeinfo.latitude};
            var lon={$storeinfo.longitude};
            $.ajax({
                type:"post",
                url:"{:url('front.index/countexpressfee')}",
                data:{lat:lat,lon:lon,address:address,sdistance:{$pstoreinfo.sdistance},sprice:{$pstoreinfo.sprice},exprice:{$pstoreinfo.exprice}},
                dataType:"json",
                success:function(data){
                                console.log(data);
                           $("#expressfee").val(data);
                           $("#currentexpressfee").text(data+"元");
                }
             });

        });
    });
</script>
<div class="contact-area pt-100" style="margin-bottom: 30px;">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <div class="contact-info-area">
                    <h4 class="contact-title mb-18">你的订单信息如下，如无问题请输入兑换码信息进行兑换</h4>
                    <p>订单明细:商品种类：{$newdata|count}种，总商品数:{$totalnum},合计金额：<span style="color:red;"> ¥{$totalfee} 元</span>(不含运费)，兑换门店：<span style="color:red;">{$storename}</span></p>
                    <p style="font-size: 10px;">订单配送费：{$pstoreinfo.sdistance}公里以内{$pstoreinfo.sprice}元，超过部分按百度地图直线距离，每公里(不足1公里按1公里){$pstoreinfo.exprice}元进行计费。</p>
                    <div class="contact-info-wrap">

                        {volist name="newdata" id="vo" key="k"}
                        <div class="single-contact-info mb-40">
                            <div>
                                <img src="__UPLOADS__/{$vo.mainimage}"  class="img-circle" style="height: 100px;width: 100px;">

                            </div>
                            <div class="contact-info-content">
                                <h4>商品名称 : {$vo.name}</h4>
                                <p>价格: ¥{$vo.orderprice}</p>
                                <p>数量: {$vo.ordernum}</p>
                                <p>规格: {$vo.guige}</p>
                                <p>可选: {$vo.orderoption1}
                               {notempty name="vo.orderoption2"}
                                    {$vo.orderoption2}
                                {/notempty}
                                </p>
                            </div>
                        </div>
                        {/volist}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact-message-wrapper">
                    <h4 class="contact-title mb-25">兑换信息</h4>
                    <div class="contact-message">
                            <form  action="{:url('front.index/addorder')}" method="post" >
                            <div class="row">
                                <label for="codenumber" class="col-sm-12 control-label">兑换码（必填）</label>
                                <div class="col-lg-12">
                                    <div class="contact-form-style mb-20">
                                        <input name="codenumber" placeholder="兑换码" type="text" id="codenumber">
                                        <input name="storeid"  placeholder="兑换门店"  type="hidden" id="storeid" value="{$storeid}">
                                        <input name="totalinfo"  placeholder="兑换明细" type="hidden" id="totalinfo" value="{$totalinfo}^{$storeid}^{$totalfee}">
                                        <input name="expressfee"  placeholder="配送费"  type="hidden" id="expressfee" value="">

                                    </div>
                                </div>
                                <label for="proof" class="col-sm-12 control-label">校验码（必填）</label>
                                <div class="col-lg-12">
                                    <div class="contact-form-style mb-20">
                                        <input name="proof" placeholder="校验码" type="text" id="proof">
                                        {:token()}
                                    </div>
                                </div>


                                <div class="col-lg-12">
                                    <div class="contact-form-style mb-20">
                                        <input id="selftake" type="checkbox" name="takeself" value="1" style="width: 20px;height: 20px;"> 是否自提
                                    </div>
                                </div>



                                <label for="orderaddress" class="col-sm-12 control-label">配送地址</label>
                                <div class="col-lg-12">
                                    <div class="contact-form-style mb-20">
                                        <input id="orderaddress" name="orderaddress" placeholder="配送地址" type="text" id="orderaddress">
                                    </div>
                                </div>
                                <label  id="expressinfo" style="color:red;" class="col-sm-12 control-label">当前地址配送费：<b><span style="color:black;font-size: 15px;" id="currentexpressfee"></span></b>&nbsp&nbsp<span id="refresh" style="background-color: #868e96;color:black;">点击刷新</span></label>

                                <label for="ordercontact" class="col-sm-12 control-label">联系人</label>
                                     <div class="col-lg-12">
                                            <div class="contact-form-style mb-20"><input name="ordercontact" placeholder="联系人" type="text" id="ordercontact">
                                           </div>
                                    </div>
                               <label for="ordertel" class="col-sm-12 control-label">联系人手机</label>
                                     <div class="col-lg-12">
                                        <div class="contact-form-style mb-20">
                                            <input name="ordertel" placeholder="联系人" type="text" id="ordertel">
                                        </div>
                                     </div>
                            <label for="proof" class="col-sm-12 control-label">备注（选填）</label>
                            <div class="col-lg-12">
                                <div class="contact-form-style">
                                    <textarea name="memo" placeholder="备注"></textarea>
                                    <button class="submit btn-style" type="submit" style="float:right">确认兑换</button>
                                </div>
                            </div>

                           </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
