{layout name="frontlayout" /}
<div class="slider-area">
  <div class="slider-active owl-dot-style owl-carousel">
    <div class="single-slider bg-img height-100vh d-flex align-items-center justify-content-center" style="background-image:url(__FIMAGES__/indeximg/slider/slider-1.jpg);">
      <div class="slider-content pt-100">
        <div class="slider-content-wrap slider-animated-1">
          <h2 class="animated">Welcome to <span>Sweet</span> club</h2>
          <h1 class="animated"><span>这里为你提供品种繁多的</span> 蛋糕甜点</h1>
          <p>你的福利，你做主，任意选、任意兑、随你心</p>
          <div class="slider-btn mt-20">
            <a class="animated" href="{:url('front.index/exchange','','')}">兑  换</a>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slider bg-img height-100vh d-flex align-items-center justify-content-center" style="background-image:url(__FIMAGES__/indeximg/slider/slider-2.jpg);">
      <div class="slider-content pt-100">
        <div class="slider-content-wrap slider-animated-1">
          <h2 class="animated">Welcome to <span>Sweet</span> club</h2>
          <h1 class="animated"><span>足不出门</span>  快捷订购</h1>
          <p>全市通兑、省心、省事</p>
          <div class="slider-btn mt-20">
            <a class="animated" href="{:url('front.index/exchange','','')}">兑  换</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-menu-area pt-100 pb-70 gray-bg">
  <div class="container">
    <div class="section-title text-center mb-50">
      <h2 style="font-family: 微软雅黑">↓ 我们的甜品店</h2>
      <p>只需拥有一张独特的兑换券，你就可以在以下美食店任意兑换任何商品，支持跨店、跨品牌</p>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    {volist name="vender" id="vo" key="k"}

    <div class="col-lg-4 thumbnail">
      <div class="product-style-wrap" style="text-align: center;">
        <img alt="" src="__UPLOADS__/{$vo.userinfo.image}">
        <div class="product-content text-center">
          <h4>
            {$vo.userinfo.company}
          </h4>
          <p>{$vo.userinfo.adword}</p>
          <p>
            <a class="btn btn-danger" href="{:url('front.index/venderexchange','','')}/venderid/{$vo.id}" role="button">进店兑换</a></p>
        </div>
      </div>
    </div>
    {/volist}


  </div>
</div>
<div class="product-menu-area pt-100 pb-70 gray-bg">
  <div class="container">
    <div class="section-title text-center mb-50">
      <h2 style="font-family: 微软雅黑">我们的主打商品</h2>
      <p>快乐的滋味,甜蜜的时光 苦苦的追求,甜甜的享受! 你的甜蜜你独创,永恒唯一的味道,某某蛋糕。 味道怎么好,一吃就知道! 爱的味道,唯你独享。 唇与齿的想念 蛋蛋的感觉,极致的细腻。 蛋糕御品,金香四溢。</p>
    </div>
    <div class="tab-content jump">
      <div id="tab1" class="tab-pane active">
        <div class="row">
          {volist name="product" id="vo" key="k"}
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <a href="{:url('front.index/productdetail','','')}/aid/{$vo.id}/s/1/foot/1"><img  height="100" width="100" alt="" src="__UPLOADS__/{$vo.mainimage}"></a>
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      {$vo.name}
                    </h4>
                  </div>
                  <div class="menu-price">￥

                    <span style="text-decoration:line-through;width: 100px;color:black;font-size: 14px;">{$vo.price}元</span>
                    <span style="font-size: 15px;">/优惠价:{$vo.pricesystem[0][2]}元</span>
                  </div>
                </div>
                <p>{$vo.introduce}</p>
                <p style="font-size: 13px;">品牌：<span style="background-color: darkred;color:white;">&nbsp&nbsp&nbsp{$vo.company}&nbsp&nbsp&nbsp</span></p>
                <p style="font-size: 12px;">原材料：{$vo.material}</p>
                <p style="font-size: 12px;"><a class="btn btn-danger" href="{:url('front.index/singleexchange','','')}/id/{$vo.id}" role="button">兑 换</a></p>
                <p style="text-align: right;font-size: 14px;"><a href="{:url('front.index/productdetail','','')}/aid/{$vo.id}/s/1/foot/1">>>查看详情</a></p>
              </div>
            </div>
          </div>
          {/volist}

        </div>
      </div>

    </div>
  </div>
</div>
<footer class="footer-area">
  <div class="footer-area-top black-bg pt-95 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4 id="contactme">关于我们</h4>
            </div>
            <div class="footer-about">
              <p> SWEET俱乐部是一家关注甜品，为民众提供最美味、最快捷、最方便的商家</p>
              <!--<div class="footer-map">
                <a href="contact.html"><i class="ion-ios-location-outline"></i> 导航公司</a>
              </div>-->
            </div>
            <div class="social-icon">
              <!-- <ul>
                 <li><a class="facebook" href="#"><i class="ion-social-facebook"></i></a></li>
                 <li><a class="twitter" href="#"><i class="ion-social-twitter"></i></a></li>
                 <li><a class="instagram" href="#"><i class="ion-social-instagram-outline"></i></a></li>
               </ul>-->
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4>联系我们</h4>
            </div>
            <div class="footer-cont-info">
              <div class="single-footer-cont-info">
                <div class="cont-info-icon">
                  <i class="fa fa-home"></i>
                </div>
                <div class="cont-info-content">
                  <p>惠州市惠城区演达一路港惠新天地</p>
                </div>
              </div>
              <div class="single-footer-cont-info">
                <div class="cont-info-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="cont-info-content">
                  <p>0752-453290</p>
                  <p>0752-453290</p>
                </div>
              </div>
              <div class="single-footer-cont-info">
                <div class="cont-info-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="cont-info-content">
                  <a href="#">sweetclub@126.com</a>
                  <a href="#">sweetservice@126.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4>客服时间</h4>
            </div>
            <div class="open-time pr-30">
              <ul>
                <li>
                  周六
                  <span>9am - 11pm</span>
                </li>
                <li>
                  周日
                  <span>Close</span>
                </li>
                <li>
                  周一
                  <span>9am - 11pm</span>
                </li>
                <li>
                  周二
                  <span>9am - 11pm</span>
                </li>
                <li>
                  周三
                  <span>9am - 11pm</span>
                </li>
                <li>
                  周四
                  <span>9am - 11pm</span>
                </li>
                <li>
                  周五
                  <span>9am - 11pm</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4>商务合作</h4>
            </div>
            <div class="newsletter-style">
              <p> 如需商务合作，请致电或电邮我们，我们将竭诚为你您服务</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom black-bg-2 pb-25 pt-25">
    <div class="container">
      <div class="copyright text-center">
        <p>Copyright &copy; 2020.Company name All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

