<!doctype html>
<html class="no-js" lang="zxx">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SWEET联盟</title>
  <meta name="description" content="">
  <meta name="robots" content="noindex, follow" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- all css here -->
  <link rel="stylesheet" href="__FCSS__/bootstrap.min.css">
  <link rel="stylesheet" href="__FCSS__/icons.css">
  <link rel="stylesheet" href="__FCSS__/plugins.css">
  <link rel="stylesheet" href="__FCSS__/style.css">
  <link rel="stylesheet" href="__FCSS__/responsive.css">
  <script src="__JS__/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!-- header start -->
<header class="header-area transparent-bar header-position">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-5 col-sm-4">
        <div class="logo">
          <a href="index.html">
            <img class="logo-normal" alt="" src="__FIMAGES__/indeximg/logo/logo.png">
            <img class="logo-sticky" alt="" src="__FIMAGES__/indeximg/logo/logo-black.png">
          </a>
        </div>
      </div>
      <div class="col-lg-9 col-md-8 col-7 col-sm-8">
        <div class="menu-search-bundle">
          <div class="main-menu">
            <nav>
              <ul>
                <li><a href="index.html">首页</a></li>
                <li><a href="about-us.html">兑换商品</a></li>
                <li><a href="contact.html">联系我们</a></li>
              </ul>
            </nav>
          </div>
          <div class="search-wrap">
            <button class="search-toggle">
              <i class="fa fa-search"></i>
            </button>
            <div class="search">
              <form action="#">
                <input type="search" placeholder="Search here">
                <button type="submit">
                  Search
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-menu-area d-md-block d-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
        <div class="mobile-menu">
          <nav id="mobile-menu-active">
            <ul class="menu-overflow">
              <li><a href="index.html">Home</a></li>
              <li><a href="about-us.html">About</a></li>
              <li><a href="contact.html">Contact us</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="slider-area">
  <div class="slider-active owl-dot-style owl-carousel">
    <div class="single-slider bg-img height-100vh d-flex align-items-center justify-content-center" style="background-image:url(__FIMAGES__/indeximg/slider/slider-1.jpg);">
      <div class="slider-content pt-100">
        <div class="slider-content-wrap slider-animated-1">
          <h2 class="animated">Welcome to <span>Basmoti</span> Restaurant</h2>
          <h1 class="animated"><span>Hot & spicy</span> food for you</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque felis,eu condimentum. lorem ipsum dolor. lorem ipsum dolor sit amt.</p>
          <div class="slider-btn mt-20">
            <a class="animated" href="#">read more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slider bg-img height-100vh d-flex align-items-center justify-content-center" style="background-image:url(__FIMAGES__/indeximg/slider/slider-2.jpg);">
      <div class="slider-content pt-100">
        <div class="slider-content-wrap slider-animated-1">
          <h2 class="animated">Welcome to <span>Basmoti</span> Restaurant</h2>
          <h1 class="animated"><span>Basmoti</span> knows your taste</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque felis,eu condimentum. lorem ipsum dolor. lorem ipsum dolor sit amt.</p>
          <div class="slider-btn mt-20">
            <a class="animated" href="#">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="popular-product gray-bg pt-100 pb-100">
  <div class="container">
    <div class="section-title text-center mb-50">
      <h2>Our Popular Dishes</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
    </div>
    <div class="product-slider-active owl-carousel">
      <div class="product-style-wrap">
        <img alt="" src="__FIMAGES__/indeximg/product/pro-1.jpg">
        <div class="product-content text-center">
          <h4>
            Oldtimer with Cheese
          </h4>
          <p>Chicken meat which is breaded or battered, then deep.</p>
          <span>$100.00</span>
        </div>
      </div>
      <div class="product-style-wrap">
        <img alt="" src="__FIMAGES__/indeximg/product/pro-2.jpg">
        <div class="product-content text-center">
          <h4>
            Black Bean Fajitas
          </h4>
          <p>Chicken meat which is breaded or battered, then deep.</p>
          <span>$200.00</span>
        </div>
      </div>
      <div class="product-style-wrap">
        <img alt="" src="__FIMAGES__/indeximg/product/pro-3.jpg">
        <div class="product-content text-center">
          <h4>
            Chicken Nugget
          </h4>
          <p>Chicken meat which is breaded or battered, then deep.</p>
          <span>$300.00</span>
        </div>
      </div>
      <div class="product-style-wrap">
        <img alt="" src="__FIMAGES__/indeximg/product/pro-4.jpg">
        <div class="product-content text-center">
          <h4>
            Match Fajita Trio
          </h4>
          <p>Chicken meat which is breaded or battered, then deep.</p>
          <span>$150.00</span>
        </div>
      </div>
      <div class="product-style-wrap">
        <img alt="" src="__FIMAGES__/indeximg/product/pro-1.jpg">
        <div class="product-content text-center">
          <h4>
            Match Fajita Trio
          </h4>
          <p>Chicken meat which is breaded or battered, then deep-fried or baked.</p>
          <span>$50.00</span>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="product-menu-area pt-100 pb-70 gray-bg">
  <div class="container">
    <div class="section-title text-center mb-50">
      <h2>Our Food Menu</h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
    </div>
    <div class="tab-content jump">
      <div id="tab1" class="tab-pane active">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$100</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$150</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-3.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$200</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-4.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Black Bean & Veggie Fajitas.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$250</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-5.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Oldtimer with Cheese.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-6.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Crispy Fiery Pepper Crispers.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$120</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$180</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab2" class="tab-pane">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-4.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Black Bean & Veggie Fajitas.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$250</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-5.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Oldtimer with Cheese.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-6.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Crispy Fiery Pepper Crispers.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$120</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$180</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$100</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$150</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-3.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$200</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab3" class="tab-pane">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$150</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$100</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-3.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$200</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-4.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Black Bean & Veggie Fajitas.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$250</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-5.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Oldtimer with Cheese.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-6.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Crispy Fiery Pepper Crispers.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$120</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$180</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab4" class="tab-pane">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-6.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Crispy Fiery Pepper Crispers.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$120</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$180</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$100</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$150</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-3.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$200</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-4.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Black Bean & Veggie Fajitas.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$250</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-5.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Oldtimer with Cheese.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab5" class="tab-pane">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-3.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$200</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-4.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Black Bean & Veggie Fajitas.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$250</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$100</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$150</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-3.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$200</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-4.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Black Bean & Veggie Fajitas.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$250</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-5.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Oldtimer with Cheese.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-6.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Crispy Fiery Pepper Crispers.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$120</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tab6" class="tab-pane">
        <div class="row">
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$100</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$150</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-5.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Oldtimer with Cheese.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-6.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Crispy Fiery Pepper Crispers.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$120</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$180</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-1.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Lamb Salad with Fregola.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$180</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="single-menu-product mb-30">
              <div class="menu-product-img">
                <img alt="" src="__FIMAGES__/indeximg/product/menu-2.jpg">
              </div>
              <div class="menu-product-content">
                <div class="menu-title-price">
                  <div class="menu-title">
                    <h4>
                      Ultimate Bacon Burger.
                    </h4>
                  </div>
                  <div class="menu-price">
                    <span>$170</span>
                  </div>
                </div>
                <p>Categories: Subway, Masala, Indian</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer-area">
  <div class="footer-area-top black-bg pt-95 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4>About Us</h4>
            </div>
            <div class="footer-about">
              <p> Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do tempor eget loved dost venenatis.</p>
              <div class="footer-map">
                <a href="contact.html"><i class="ion-ios-location-outline"></i> View on map</a>
              </div>
            </div>
            <div class="social-icon">
              <ul>
                <li><a class="facebook" href="#"><i class="ion-social-facebook"></i></a></li>
                <li><a class="twitter" href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a class="instagram" href="#"><i class="ion-social-instagram-outline"></i></a></li>
                <li><a class="googleplus" href="#"><i class="ion-social-googleplus-outline"></i></a></li>
                <li><a class="dribbble" href="#"><i class="ion-social-dribbble-outline"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4>contact Us</h4>
            </div>
            <div class="footer-cont-info">
              <div class="single-footer-cont-info">
                <div class="cont-info-icon">
                  <i class="fa fa-home"></i>
                </div>
                <div class="cont-info-content">
                  <p>Elizabeth Tower. 6th Floor Medtown, New York</p>
                </div>
              </div>
              <div class="single-footer-cont-info">
                <div class="cont-info-icon">
                  <i class="fa fa-phone"></i>
                </div>
                <div class="cont-info-content">
                  <p>+088 01673-453290</p>
                  <p>+088 01673-453290</p>
                </div>
              </div>
              <div class="single-footer-cont-info">
                <div class="cont-info-icon">
                  <i class="fa fa-envelope"></i>
                </div>
                <div class="cont-info-content">
                  <a href="#">Basmoti@email.com</a>
                  <a href="#">info@example.com</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4>Opening Time</h4>
            </div>
            <div class="open-time pr-30">
              <ul>
                <li>
                  Saturday
                  <span>9am - 11pm</span>
                </li>
                <li>
                  Sunday
                  <span>Close</span>
                </li>
                <li>
                  Monday
                  <span>9am - 11pm</span>
                </li>
                <li>
                  Tuesday
                  <span>9am - 11pm</span>
                </li>
                <li>
                  Wednesday
                  <span>9am - 11pm</span>
                </li>
                <li>
                  Thursday
                  <span>9am - 11pm</span>
                </li>
                <li>
                  Friday
                  <span>9am - 11pm</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="footer-widget mb-40">
            <div class="footer-title mb-30">
              <h4>Newsletter</h4>
            </div>
            <div class="newsletter-style">
              <p> Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do.</p>
              <div id="mc_embed_signup" class="subscribe-form ">
                <form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="">
                  <div id="mc_embed_signup_scroll" class="mc-form">
                    <input class="email" type="email" required="" placeholder="Enter your email" name="EMAIL" value="">
                    <div class="mc-news" aria-hidden="true">
                      <input type="hidden" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                    </div>
                    <div class="clear">
                      <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom black-bg-2 pb-25 pt-25">
    <div class="container">
      <div class="copyright text-center">
        <p>Copyright &copy; 2019.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
      </div>
    </div>
  </div>
</footer>
<!-- all js here -->
<script src="__FJS__/vendor/jquery-1.12.0.min.js"></script>
<script src="__FJS__/popper.js"></script>
<script src="__FJS__/bootstrap.min.js"></script>
<script src="__FJS__/ajax-mail.js"></script>
<script src="__FJS__/plugins.js"></script>
<script src="__FJS__/main.js"></script>
</body>
</html>