{layout name="frontlayout2" /}
<script src="__BJS__/jquery.min.js"></script>
<h4 style="text-align: center;margin-top: 60px;">兑换码：{$Request.param.codenumber}使用记录<span style="color:red;font-size: 14px;">(余额:{$ye},有效期：{$indate|date='Y-m-d'})</span></h4>
<div style="min-height:400px; margin-bottom: 50px;">
    <div class="container">
        <div class="row">

            <table class="table table-condensed  table-hover">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>兑换码</th>
                    <th>兑换日期</th>
                    <th>兑换明细</th>
                    <th>兑换金额</th>
                    <th>兑换商店</th>
                    <th>提货方式</th>
                    <th>配送信息</th>
                    <th>订单状态</th>
                </tr>
                </thead>
                <tbody>
                {empty name="datainfo"}
                <td colspan="9" style="font-size: 16px;color:red;text-align: center">暂无使用记录</td>
                {else /}
                {volist name="datainfo" id="vo" key="k" }
                    <tr>
                        <td>{$k}</td>
                        <td>{$vo.codenumber}</td>
                        <td>{$vo.create_time|date="Y-m-d"}</td>
                        <td style="font-size: 10px;">{$vo.productinfo}</td>
                        <td>{$vo.totalnum}</td>
                        <td>{$vo.company}</td>
                        <td>{if $vo.takeself == '1'}自提
                            {else /}配送
                            {/if}</td>
                        <td>{$vo.orderaddress}{$vo.ordercontact}</td>
                        <td> {switch vo.status }
                            {case 0 }<span style="color:red">待处理</span>{/case}
                            {case 1 }已处理{/case}
                            {default /}争议订单
                            {/switch}</td>
                    </tr>
                {/volist}
                {/empty}

                </tbody>
            </table>
        </div>
    </div>

</div>
</div>
