{layout name="frontlayout2" /}
<script src="__BJS__/jquery.min.js"></script>
<style type="text/css">
.p1{font-size: 13px;border-bottom: 1px solid gray;margin-top: 5px;margin-bottom: 0px;background-color: #dde1e3;}
.p2{font-size: 13px;border-bottom: 1px solid gray;margin-top: 0px;margin-bottom: 0px;}
.p3{font-size: 10px;border-bottom: 1px solid gray;margin-top: 0px;margin-bottom: 0px;}
.moduel{background-color: #e8e9ea;margin:10px 15px;padding-top: 10px; border-radius:5px;}
</style>
<h3 style="text-align: center;margin-top: 60px;">兑换券：{$Request.param.codenumber}兑换记录</h3>
<h3 style="text-align: center;"><span style="color:red;font-size: 15px;">(余额:{$ye}元,有效期：{$indate|date='Y-m-d'})</span></h3>
<div style="min-height:500px; margin-bottom: 50px;margin-top: 20px;">
    <div class="container" id="orderinfo">
        {empty name="datainfo"}
        <div class="row">
            <h4 style="text-align: center;width: 100%;margin-top: 100px;color:grey;">该兑换券没有任何兑换记录</h4>
        </div>
        {else /}
        <div class="row" style="margin-right:15px;">
            {volist name="datainfo" id="vo" key="k" }
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 moduel thumbnail" >
                <p class="p1">订单号：{$vo.order_id} &nbsp&nbsp日期：{$vo.create_time|date="Y-m-d"}</p>
                <p class="p2">&nbsp&nbsp&nbsp&nbsp商品名称：{$vo.product} &nbsp&nbsp数量：{$vo.num} &nbsp&nbsp单价：{$vo.price}</p>
                <p class="p2"> &nbsp&nbsp&nbsp&nbsp规格与可选：{$vo.specification}</p>
                <p class="p2">&nbsp&nbsp&nbsp&nbsp费用：商品费用：{$vo.total} 配送费：{$vo.expressfee}</p>
                <p class="p2">
                    &nbsp&nbsp&nbsp&nbsp配送方式：
                    {if $vo.type == '1'}自提
                    {else /}配送
                    {/if}
                    &nbsp&nbsp状态：
                    {switch vo.status }
                    {case 1 }<span style="color:red">待发货</span>{/case}
                    {case 2 }已发货{/case}
                    {case 3 }售后中{/case}
                    {default /}争议订单
                    {/switch}
                </p>

                <p class="p2">&nbsp&nbsp&nbsp&nbsp自提信息：</p>
                <p class="p3">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp自提人:{$vo.pickname} &nbsp&nbsp 电话:{$vo.picktel}</p>
                <p class="p2">&nbsp&nbsp&nbsp&nbsp配送信息：</p>
                <p class="p3">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp物流单号</p>
                <p class="p3">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp收件人:{$vo.dispatchname}&nbsp&nbsp电话:{$vo.dispatchtel}</p>
                <p class="p3">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp收货地址:{$vo.dispatchaddress}</p>
                <p class="p2">&nbsp&nbsp&nbsp&nbsp卖家备注：{$vo.sellermemo} </p>
                <p class="p2">&nbsp&nbsp&nbsp&nbsp买家备注：{$vo.buyermemo} </p>
            </div>
            {/volist}


        </div>
        {/empty}

    </div>

</div>

