{layout name="frontlayout2" /}
<div class="product-menu-area pt-100 pb-70 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2 style="font-family: 微软雅黑">{$storeinfo.0.company}主打商品</h2>
            <p>客服电话:{$storeinfo.0.tel} 联系人：{$storeinfo.0.contact}</p>
        </div>
        <form class="form-horizontal"  action="{:url('front.index/confirmorder')}" method="post" >
            <input name="storeid" value="{$storeinfo.0.aid}">
            <div id="tab1" class="tab-pane active">
                <div class="row">
                    {volist name="product" id="vo" key="k"}
                    <div class="col-lg-6">
                        <div class="single-menu-product mb-30">
                            <div class="menu-product-img">
                                <img  height="100" alt="" src="__UPLOADS__/{$vo.mainimage}">
                            </div>
                            <div class="menu-product-content">
                                <div class="menu-title-price">
                                    <div class="menu-title">
                                        <h4>
                                            {$vo.name}
                                        </h4>
                                    </div>
                                    <div class="menu-price">
                                        <span>￥{$vo.price}</span>
                                    </div>
                                </div>
                                <p>{$vo.introduce}</p>
                                <p style="font-size: 12px;">原材料：{$vo.material}</p>
                                <p style="font-size: 12px;">

                                    <a style=" float:left;"class="btn btn-warning " href="#" role="button">兑换数量</a>
                                    <select name="p{$vo.aid}" class="form-control" style="width: 60px;float:left;height: 32px;margin-left: 5px;">

                                        <option  value="0" selected>0</option>
                                        <option  value="1" >1</option>
                                        <option  value="2" >2</option>
                                        <option  value="3" >3</option>
                                        <option value="4" >4</option>
                                        <option value="5" >5</option>
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
                    {/volist}

                </div>
            </div>
            <div class="form-group" style="margin-bottom:0">
                <div class="col-sm-offset-2 col-sm-10 text-right">
                    <!--<button type="reset" class="btn btn-default">Cancel</button>-->
                    <button type="submit" class="btn btn-danger btn-lg" style="width: 200px;height: 50px;">确认兑换</button>
                </div>
            </div>
            {:token()}
        </form>

        </div>
    </div>
</div>
