{layout name="frontlayout2" /}
<div class="product-menu-area pt-100 pb-70 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2 style="font-family: 微软雅黑">{$storeinfo.0.company}主打商品</h2>
            <p>客服电话:{$storeinfo.0.tel} 联系人：{$storeinfo.0.contact}</p>
        </div>
        <form class="form-horizontal"  action="{:url('front.index/confirmorder')}" method="post" >
            <input name="storeid" value="{$storeinfo.0.aid}" type="hidden">
            <div id="tab1" class="tab-pane active">
                <div class="row">
                    {empty name="product"}
                    <h3 style="text-align:center;color:grey">该店没有上架相关商品</h3>
                    {else /}
                    {volist name="product" id="vo" key="k"}
                    <div class="col-lg-6">
                        <div class="single-menu-product mb-30">
                            <div class="menu-product-img">
                                <img  height="100" alt="" src="__UPLOADS__/{$vo.mainimage}">
                            </div>
                            <div class="menu-product-content">
                                <div class="menu-title-price">
                                    <div class="menu-title">
                                        <h4>
                                            {$vo.name}
                                        </h4>
                                    </div>
                                    <div class="menu-price">
                                        <span>￥{$vo.price}</span>
                                    </div>
                                </div>
                                <h4>{$vo.introduce}</h4>
                                <h4 style="font-size: 12px;">原材料：{$vo.material}</h4>
                                <h4 style="font-size: 12px;">
                                    <a class="btn btn-warning " href="#" role="button">兑换数量</a>
                                    <select name="n{$vo.aid}" class="form-control" style="width: 200px;float:right;height: 32px;margin-left: 5px;">

                                        <option  value="0" selected>0</option>
                                        <option  value="1" >1</option>
                                        <option  value="2" >2</option>
                                        <option  value="3" >3</option>
                                        <option value="4" >4</option>
                                        <option value="5" >5</option>
                                    </select>
                                </h4>

                                <h4 style="font-size: 12px;">
                                <a class="btn btn-warning " href="#" role="button">规&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp格</a>
                                <select name="p{$vo.aid}" class="form-control" style="width: 200px;float:right;height: 35px;margin-left: 5px;">
                                    {volist name="vo['pricesystem']" id="vo2" key="k2"}
                                    <option value="{$vo2[0]}-{$vo2[2]}" >{$vo2[0]}:{$vo2[2]}元</option>
                                    {/volist}
                                </select>
                            </h4>

                                <h4 style="font-size: 12px;">
                                    <a class="btn btn-warning " href="#" role="button">可&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp选</a>

                                    {if sizeof($vo.freeoption1)>0}
                                    <select name="x{$vo.aid}" class="form-control" style="width: 98px;float:right;height: 35px;margin-left: 5px;">

                                        {volist name="vo['freeoption1']" id="vo3"}
                                        <option value="{$vo3}" >{$vo3}</option>
                                        {/volist}
                                    </select>
                                    {/if}
                                    {if $vo.freeoption2[0] !=''}

                                    <select name="v{$vo.aid}" class="form-control" style="width: 98px;float:right;height: 35px;margin-left: 5px;">
                                        {volist name="vo['freeoption2']" id="vo4"}
                                        <option value="{$vo4}" >{$vo4}</option>
                                        {/volist}
                                    </select>
                                    {/if}
                                </h4>
                                <h5 style="text-align: right;color:darkgrey;font-size: 14px;padding-top: 15px;"><a href="{:url('front.index/productdetail','','')}/aid/{$vo.aid}/sid/{$storeinfo.0.aid} ">>>查看详情</a></h5>
                            </div>
                        </div>
                    </div>
                    {/volist}
                    {/empty}




                </div>
            </div>
            <div class="form-group" style="margin-bottom:0">
                <div class="col-sm-offset-2 col-sm-10 text-right">
                    <!--<button type="reset" class="btn btn-default">Cancel</button>-->
                    <button type="submit" class="btn btn-danger btn-lg" style="width: 200px;height: 50px;">确认兑换</button>
                </div>
            </div>
            {:token()}
        </form>

        </div>
    </div>
</div>
