{layout name="frontlayout2" /}
<div class="team-area pt-100 pb-70 gray-bg">
  <div class="container">
    <div class="section-title text-center mb-50">
      <h3>请选择需要兑换的门店</h3>
    </div>
    <div class="row">
        {volist name="list" id="vo" key="k"}
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="single-team text-center mb-30">
                <div class="team-img-icon overlay">
                    <a href="{:url('front.index/storeexchange','','')}/storeid/{$vo.aid} "> <img class="storeimg" src="__UPLOADS__/{$vo.image}" alt=""></a>

                </div>
                <div class="team-info">
                    <h3><a href="{:url('front.index/storeexchange','','')}/storeid/{$vo.aid} ">{$vo.company}</a></h3>
                    <span>{$vo.address}</span>
                </div>
            </div>
        </div>
        {/volist}


        {volist name="list" id="vo" key="k"}
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="single-team text-center mb-30">
                <div class="team-img-icon overlay">
                    <a href="{:url('front.index/storeexchange','','')}/storeid/{$vo.aid} "> <img class="storeimg" src="__UPLOADS__/{$vo.image}" alt=""></a>

                </div>
                <div class="team-info">
                    <h3><a href="{:url('front.index/storeexchange','','')}/storeid/{$vo.aid} ">{$vo.company}</a></h3>
                    <span>{$vo.address}</span>
                </div>
            </div>
        </div>
        {/volist}

        {volist name="list" id="vo" key="k"}
        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
            <div class="single-team text-center mb-30">
                <div class="team-img-icon overlay">
                    <a href="{:url('front.index/storeexchange','','')}/storeid/{$vo.aid} "> <img class="storeimg" src="__UPLOADS__/{$vo.image}" alt=""></a>

                </div>
                <div class="team-info">
                    <h3><a href="{:url('front.index/storeexchange','','')}/storeid/{$vo.aid} ">{$vo.company}</a></h3>
                    <span>{$vo.address}</span>
                </div>
            </div>
        </div>
        {/volist}

    </div>
  </div>
</div>
