{layout name="backlayout" /}
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 30px;height: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"  style="font-size: 20px;" >添加商品明细</div>
                <div class="panel-body" style="min-height: 214px;">
                    <form class="form-horizontal"  enctype="multipart/form-data" action="{:url('back.home/doaddproduct')}" method="post" >
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label">商品名称（必填）</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control" id="name" placeholder="用户名">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="company" class="col-sm-2 control-label">价格（必填）</label>
                            <div class="col-sm-10">
                                <input type="number" name="price" class="form-control" id="company" placeholder="价格">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="company" class="col-sm-2 control-label">商品代表图</label>
                            <div class="col-sm-10">
                              <!--<input type="text" name="company" class="form-control" id="company" placeholder="商家形象图">
                         -->
                                 <!--   <img id="plsod" style="display:none; border-color:#333; border-style:solid; border-width:1px;" width="80px" height="60px">-->
                                <input type="file" name="info_photo" value="" id="info_photo"
                                       onchange='PreviewImage(this)' />

                                <div id="photo_info" class="photo_info" ></div>

                            </div>
                        </div>


                        <!--<script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>-->
                        <script src="__BJS__/jquery.min.js"></script>
                        <script>
                            function PreviewImage(imgFile) {
                                var filextension = imgFile.value.substring(imgFile.value
                                    .lastIndexOf("."), imgFile.value.length);
                                filextension = filextension.toLowerCase();
                                if ((filextension != '.jpg') && (filextension != '.gif')
                                    && (filextension != '.jpeg') && (filextension != '.png')
                                    && (filextension != '.bmp')) {
                                    alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
                                    imgFile.focus();
                                } else {
                                    var path;
                                    if (document.all)//IE
                                    {
                                        imgFile.select();
                                        path = document.selection.createRange().text;
                                        document.getElementById("photo_info").innerHTML = "";
                                        document.getElementById("photo_info").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\""
                                            + path + "\")";//使用滤镜效果
                                    } else//FF
                                    {
                                        path = window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                                        //path = imgFile.files[0].getAsDataURL();// FF 3.0
                                        document.getElementById("photo_info").innerHTML = "<img id='img1' width='120px' height='100px'  style='border:black solid 1px;margin-top:5px;' src='"+path+"'/>";
                                        //document.getElementById("img1").src = path;
                                    }
                                }
                            }

                        </script>
                        <div class="form-group">
                            <label for="material" class="col-sm-2 control-label">原材料</label>
                            <div class="col-sm-10">
                                <input type="text"  name="material" class="form-control" id="material" placeholder="原材料">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="introduce" class="col-sm-2 control-label">产品介绍</label>
                            <div class="col-sm-10">
                                <input type="text"  name="introduce" class="form-control" id="introduce" placeholder="产品介绍">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="pint" class="col-sm-2 control-label">可供几人食用</label>
                            <div class="col-sm-10">
                                <input type="text"  name="pint" class="form-control" id="pint" placeholder="填整数">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input name="main_flag" type="checkbox"> 主打商品标志
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" style="margin-bottom:0">
                            <div class="col-sm-offset-2 col-sm-10 text-right">
                                <!--<button type="reset" class="btn btn-default">Cancel</button>-->
                                <button type="submit" class="btn btn-primary">添加</button>
                            </div>
                        </div>
                        {:token()}
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

