{layout name="backlayout" /}
<script src="__BJS__/jquery.min.js"></script>
<script type="text/javascript">

    $(function() {
        // 删除大修模态框的确定按钮的点击事件
        $("#deleteHaulBtn").click(function() {
            // ajax异步删除
            deleteHaulinfo();
        });

    })

    function deleteHaulinfo() {
        //alert("你即将删除的ID" + $("#deleteHaulId").val());
        //alert("{:url('back.home/abolishcode','','')}"+"/id/"+ $("#deleteHaulId").val()+".html");
        window.location.href ="{:url('back.home/abolishcode','','')}"+"/id/"+ $("#deleteHaulId").val()+".html";
        //window.location.href="{:url('table/index')}?id="+id;
    }
    // 打开询问是否删除的模态框并设置需要删除的大修的ID
    function showDeleteModal(obj) {
        var $tds = $(obj).parent().parent().children();// 获取到所有列
        var delete_id = $($tds[0]).children("input").val();// 获取隐藏的ID
        //alert(1);
        $("#deleteHaulId").val(delete_id);// 将模态框中需要删除的大修的ID设为需要删除的ID
        $("#delcfmOverhaul").modal({
            backdrop : 'static',
            keyboard : false
        });
    }

</script>
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 30px;height: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"  style="font-size: 20px;" ><h3>消费码批次管理</h3></div>
                <h4 style="padding-left: 25px;margin: 5px 0px;">
                    <a href="{:url('back.home/addcode')}" class="btn btn-primary" role="button">新增批次消费码</a>
                </h4>
                <div class="panel-body" style="padding-top: 0px;">
                    <table class="table table-bordered table-hover table-condensed" style="text-align: center">
                        <thead  >
                        <tr>
                            <th  style="text-align: center">序号</th>
                            <th  style="text-align: center">客户</th>
                            <th  style="text-align: center">数量</th>
                            <th  style="text-align: center">面值</th>
                            <th  style="text-align: center">有效期</th>
                            <th style="text-align: center" >状态</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                      {volist name="list" id="vo" key="k"}
                        <tr>
                            <td scope="row"><input type="hidden" value="{$vo.id}"> {$k}</td>
                            <td>{$vo.client.companyname}</td>
                            <td>{$vo.amount}</td>
                            <td>{$vo.price}</td>
                            <td>{$vo.indate}</td>
                            <td>{$vo.status}</td>
                            <td><a href="javascript:void(0)" onclick="showDeleteModal(this)">作废</a>
                                <a href="{:url('back.home/modicode','','')}/id/{$vo.id}.html">/修改</a>
                                <a href="../../uploads/{$vo.contract}" download="{$vo.client.companyname}{$vo.create_time}合同">/查看合同</a>
                                <a href="{:url('back.home/out','','')}/id/{$vo.id}" >/码文件</a>
                            </td>
                        </tr>
                       {/volist}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>



<div class="modal fade" id="delcfmOverhaul" style="margin-top: 150px;">
    <div class="modal-dialog">
        <div class="modal-content message_align">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <!-- 隐藏需要删除的id -->
                <input type="hidden" id="deleteHaulId" />
                <p>您确认要作废该批次条码吗？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary"
                        id="deleteHaulBtn">确认</button>
            </div>
        </div>
    </div>


