{layout name="backlayout" /}
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 30px;height: 100%">
<div class="row cm-fix-height" >
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="{:url('back.home/vendermanage')}" class="panel panel-default thumbnail cm-thumbnail">
      <div class="panel-body text-center" style="min-height: 187px;">
                                <span class="svg-48">
                                    <img src="__BIMAGES__/sf/profile-group.svg" alt="dashboard">
                                </span>
        <h4>商家管理</h4> <small>商家进驻 </small>

      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="{:url('back.home/codemanage')}" class="panel panel-default thumbnail cm-thumbnail">
      <div class="panel-body text-center" style="min-height: 187px;">
                                <span class="svg-48">
                                    <img src="__BIMAGES__/sf/notepad.svg" alt="notepad">
                                </span>
        <h4>消费码管理</h4> <small>消费码生成 消费码激活等</small>

      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="{:url('back.home/clientmanage')}" class="panel panel-default thumbnail cm-thumbnail">
      <div class="panel-body text-center" style="min-height: 187px;">
                                <span class="svg-48">
                                    <img src="__BIMAGES__/sf/user-male-alt.svg" alt="brick">
                                </span>
        <h4>客户管理</h4> <small>消费客户信息维护等</small>

      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="layouts-breadcrumb1.html" class="panel panel-default thumbnail cm-thumbnail">
      <div class="panel-body text-center" style="min-height: 187px;">
                                <span class="svg-48">
                                    <img src="__BIMAGES__/sf/window-layout.svg" alt="window-layout">
                                </span>
        <h4>扩展一</h4> <small> </small>

      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="ico-sf.html" class="panel panel-default thumbnail cm-thumbnail">
      <div class="panel-body text-center" style="min-height: 187px;">
                                <span class="svg-48">
                                    <img src="__BIMAGES__/sf/cat.svg" alt="cat">
                                </span>
        <h4>扩展二</h4> <small> </small>

      </div>
    </a>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
    <a href="login.html" class="panel panel-default thumbnail cm-thumbnail">
      <div class="panel-body text-center" style="min-height: 187px;">
                                <span class="svg-48">
                                    <img src="__BIMAGES__/sf/lock-open.svg" alt="lock-open">
                                </span>
        <h4>扩展三</h4> <small> </small>

      </div>
    </a>
  </div>
</div>
</div>

