{layout name="backlayout" /}
<script src="__BJS__/jquery.min.js"></script>
<script type="text/javascript">
 function dealModal(obj) {
        var $tds = $(obj).parent().parent().children();// 获取到所有列
        var deal_id = $($tds[0]).children("input").val();// 获取隐藏的ID
        $("#dealId").val(deal_id);// 将模态框中需要处理的ID设为需要处理的ID
        $("#delcfmOverhaul").modal({
            backdrop : 'static',
            keyboard : false
        });
    }

</script>
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 30px;height: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" style="min-height: 600px;">
                <div class="panel-heading"><h3>本店订单列表</h3></div>
                <div class="panel-body" style="padding-top: 0px;margin-top: 10px;">
                    <table class="table table-bordered table-hover table-condensed" style="text-align: center">
                        <thead  >
                        <tr>
                            <th  style="text-align: center">序号</th>
                            <th  style="text-align: center">下单日期</th>
                            <th style="text-align: center" >订单明细</th>
                            <th style="text-align: center" >兑换金额</th>
                            <th style="text-align: center" >提货方式</th>
                            <th style="text-align: center" >订单状态</th>
                            <th style="text-align: center" >处理结果</th>
                            <th style="text-align: center">操作</th>


                        </tr>
                        </thead>
                        <tbody>
                        {volist name="list" id="vo" key="k"}
                        <tr>
                            <td scope="row" ><input type="hidden" value="{$vo.id}"> {$k}</td>
                            <td >{$vo.create_time|date="Y-m-d"}</td>
                            <td style="text-align: left;" >{$vo.productinfo}</td>
                            <td>{$vo.totalnum}</td>
                            <td >{if $vo.takeself == '1'}自提
                                {else /}配送
                                {/if}
                            </td>
                            <td> {switch vo.status }
                                {case 0 }<span style="color:red">待处理</span>{/case}
                                {case 1 }已处理{/case}
                                {default /}争议订单
                                {/switch}</td>
                            <td>{$vo.result}</td>
                            <td><a href="javascript:void(0)" onclick="dealModal(this)">订单处理</a></td>
                        </tr>
                        {/volist}

                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>


<form   action="{:url('back.home/dodealorder')}" method="post" >
    <div class="modal fade" id="delcfmOverhaul" style="margin-top: 150px;">
        <div class="modal-dialog">
            <div class="modal-content message_align">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title">订单处理</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="dealId" class="control-label" style="display:none;">订单号：</label>
                        <input   type="hidden" id="dealId"  name="id"/>
                    </div>

                    <div class="form-group">
                        <label for="expressid" class="control-label">配送快递单号:</label>
                        <input  class="form-control" type="text" id="expressid" name="expressid"/>
                    </div>

                    <div class="form-group">
                        <label for="result" class="control-label">处理信息:</label>
                        <textarea class="form-control" name="result" id="result"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default"
                            data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary"
                            id="deleteHaulBtn">确认</button>
                </div>
            </div>
        </div>
    </div>
</form>



