{layout name="backlayout" /}
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 30px;height: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 20px;" >修改密码</div>
                <div class="panel-body" style="min-height: 214px;">
                    <form class="form-horizontal"   action="{:url('back.home/domodipwd')}" method="post" >
                        <div class="form-group">
                            <label for="oldpwd" class="col-sm-2 control-label">原密码</label>
                            <div class="col-sm-10">
                                <input name="oldpwd"  type="password" class="form-control" id="oldpwd"   placeholder="原密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newpwd" class="col-sm-2 control-label">新密码</label>
                            <div class="col-sm-10">
                                <input name="newpwd"    type="password" class="form-control" id="newpwd"   placeholder="新密码">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="confirmnewpwd" class="col-sm-2 control-label">确认密码</label>
                            <div class="col-sm-10">
                                <input name="confirmnewpwd"   type="password"  class="form-control" id="confirmnewpwd"   placeholder="确认密码">
                            </div>
                        </div>


                        <div class="form-group" style="margin-bottom:0">
                            <div class="col-sm-offset-2 col-sm-10 text-right">
                                <!--<button type="reset" class="btn btn-default">Cancel</button>-->
                                <button type="submit" class="btn btn-primary">确认修改</button>
                            </div>
                        </div>
                        {:token()}
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

