{layout name="backlayout" /}
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 30px;height: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"  style="font-size: 20px;" >修改商品信息</div>
                <div class="panel-body" style="min-height: 214px;">
                    <form class="form-horizontal"  enctype="multipart/form-data" action="{:url('back.home/domodiproduct')}" method="post" >
                        <div class="form-group">
                            <label for="name" class="col-sm-2 control-label">商品名称（必填）</label>
                            <div class="col-sm-10">
                                <input name="id" type="hidden" value="{$productdata.id}">
                                <input type="text" value="{$productdata.name}" name="name" readonly="readonly" class="form-control" id="name" placeholder="商品名称">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="company" class="col-sm-2 control-label">展示价格（必填）</label>
                            <div class="col-sm-10">
                                <input type="number"  value="{$productdata.price}"  name="price" class="form-control" id="company" placeholder="展示价格">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="company" class="col-sm-2 control-label">商品代表图</label>
                            <div class="col-sm-10">
                              <!--<input type="text" name="company" class="form-control" id="company" placeholder="商家形象图">
                         -->
                                 <!--   <img id="plsod" style="display:none; border-color:#333; border-style:solid; border-width:1px;" width="80px" height="60px">-->
                                <input type="file"   value="{$productdata.mainimage}"  name="info_photo" value="" id="info_photo"
                                       onchange='PreviewImage(this)' />
                                <div id="photo_info" class="photo_info" ><img id='img1' width='120px' height='100px'  style='border:black solid 1px;margin-top:5px;' src='__UPLOADS__/{$productdata.mainimage}'/></div>

                            </div>
                        </div>


                        <!--<script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>-->
                        <script src="__BJS__/jquery.min.js"></script>
                        <script>
                            function PreviewImage(imgFile) {
                                var filextension = imgFile.value.substring(imgFile.value
                                    .lastIndexOf("."), imgFile.value.length);
                                filextension = filextension.toLowerCase();
                                if ((filextension != '.jpg') && (filextension != '.gif')
                                    && (filextension != '.jpeg') && (filextension != '.png')
                                    && (filextension != '.bmp')) {
                                    alert("对不起，系统仅支持标准格式的照片，请您调整格式后重新上传，谢谢 !");
                                    imgFile.focus();
                                } else {
                                    var path;
                                    if (document.all)//IE
                                    {
                                        imgFile.select();
                                        path = document.selection.createRange().text;
                                        document.getElementById("photo_info").innerHTML = "";
                                        document.getElementById("photo_info").style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true',sizingMethod='scale',src=\""
                                            + path + "\")";//使用滤镜效果
                                    } else//FF
                                    {
                                        path = window.URL.createObjectURL(imgFile.files[0]);// FF 7.0以上
                                        //path = imgFile.files[0].getAsDataURL();// FF 3.0
                                        document.getElementById("photo_info").innerHTML = "<img id='img1' width='120px' height='100px'  style='border:black solid 1px;margin-top:5px;' src='"+path+"'/>";
                                        //document.getElementById("img1").src = path;
                                    }
                                }
                            }

                        </script>
                        <div class="form-group">
                            <label for="material" class="col-sm-2 control-label">原材料</label>
                            <div class="col-sm-10">
                                <input type="text"  value="{$productdata.material}"   name="material" class="form-control" id="material" placeholder="原材料">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="introduce" class="col-sm-2 control-label">产品介绍</label>
                            <div class="col-sm-10">
                                <input type="text"   value="{$productdata.introduce}"  name="introduce" class="form-control" id="introduce" placeholder="产品介绍">
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="freeoption1" class="col-sm-2 control-label">可选项一</label>
                            <div class="col-sm-10">
                                <input type="text"  name="freeoption1" class="form-control" id="freeoption1" placeholder="填写为客户添加的服务（用/隔开，例如:加冰/常温/加热）">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="freeoption2" class="col-sm-2 control-label">可选项二</label>
                            <div class="col-sm-10">
                                <input type="text"  name="freeoption2" class="form-control" id="freeoption2" placeholder="填写为客户添加的服务（用/隔开，例如:多糖/少糖/无糖）">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pricesystem" class="col-sm-2 control-label">价格体系</label>
                            <div class="col-sm-10">
                                <input type="text"  name="pricesystem" value="{$productdata.pricesystem}"  class="form-control" id="pricesystem" placeholder="填写不同规格不同价格（格式为:规格1/原价格1/优惠价1|规格2/原价格2/优惠价2|........）以此类推">
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="pricesystem" class="col-sm-2 control-label">是否设为主打商品</label>
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">

                                        <input name="main_flag" type="checkbox" {if $productdata.main_flag == '1'}checked {/if}> 主打商品标志

                                </div>
                            </div>
                        </div>


                        <div class="form-group" style="margin-bottom:0">
                            <div class="col-sm-offset-2 col-sm-10 text-right">
                                <!--<button type="reset" class="btn btn-default">Cancel</button>-->
                                <button type="submit" class="btn btn-primary">修改</button>
                            </div>
                        </div>
                        {:token()}
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

