{layout name="backlayout" /}
<script src="__BJS__/jquery.min.js"></script>
<script type="text/javascript">
</script>
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 30px;height: 100%">
    <div class="row">
        <div class="col-md-12">
            <!--<h4 style="text-align: right;padding-right: 100px;">{$sql}</h4>-->

            <form class="form-inline" action="{:url('back.home/patchorder')}" method="post">

                <div class="form-group">
                    <label for="order_id">订单号</label>
                    <input type="text" name="order_id"   placeholder="订单号" id="order_id" style="height: 30px;width: 500px">
                </div>
                <div style="display: block;margin-bottom: 10px;">
                </div>
                <div class="form-group">
                    <label for="venderid">主 店</label>
                    <select name="venderid" id="venderid" style="height: 30px;">
                        {if ( $Think.cookie.user_limite == 1)}<option value="0">--全部--</option>
                        {/if}
                        {foreach $vender as $vo1}
                        <option value="{$vo1.id}">{$vo1.company}</option>
                        {/foreach}
                    </select>
                </div>
                <div class="form-group">
                    <label for="storeid">分 店</label>
                    <select name="storeid" id="storeid" style="height: 30px;">
                        {if ( $Think.cookie.user_limite == 1) OR ( $Think.cookie.user_limite == 2)}<option value="0">--全部--</option>
                        {/if}
                        {if ( $Think.cookie.user_limite == 2) OR ( $Think.cookie.user_limite == 3)}
                        {foreach $store as $vo2}
                        <option value="{$vo2.id}">{$vo2.company}</option>
                        {/foreach}
                        {/if}
                    </select>
                </div>

                <div class="form-group">
                    <label for="type">处理方式</label>
                    <select name="type" id="type" style="height: 30px;">
                        <option value="0">--全部--</option>
                        <option value="1">自提</option>
                        <option value="2">配送</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="status">订单状态</label>
                    <select name="status" id="status" style="height: 30px;">
                        <option value="0">--全部--</option>
                        <option value="1">待发货</option>
                        <option value="2">已发货或已自提</option>
                        <option value="3">已完成</option>
                        <option value="4">售后中</option>
                    </select>
                </div>



                <script>

                    $('#venderid').change(function(){
                       // alert(1);
                        $.ajax({
                            type:"post",
                            url:"{:url('back.home/choosevender')}",
                            data:'vender_id='+$('#venderid').val(),
                            dataType:"json",
                            success:function(data){
                                console.log(data);

                                $('#storeid').html(data);

                            }
                        });
                    });
                    </script>
                <div style="display: block;margin-bottom: 10px;">
                </div>
                <div class="form-group">
                    <label for="startrq">订单补录入起始日期</label>
                    <input type="text" name="startrq"   class="demo-input" placeholder="请选择日期" id="startrq" style="height: 30px;">
                </div>
                <div class="form-group">
                    <label for="endrq">订单补录结束日期</label>
                    <input type="text" name="endrq" class="demo-input" placeholder="请选择日期" id="endrq" style="height: 30px;">
                </div>
                <script src="__PUBLIC__/plug/layDate/laydate/laydate.js"></script>
                <script>
                        var date = new Date(); //创建时间对象
                        var year = date.getFullYear(); //获取年
                        var month = date.getMonth() + 1;//获取月
                        var day = date.getDate(); //获取当日
                        var time = year + "-" + month + "-" + day; //组合时间
                        //执行一个laydate实例
                    laydate.render({
                        elem: '#startrq' //指定元素
                        ,value:time
                    });

                    laydate.render({
                        elem: '#endrq'//指定元素
                        ,value: time
                    });

                </script>
                <button type="submit" class="btn btn-primary">筛选</button> <a href="{:url('back.home/addpatchorder')}" class="btn btn-danger" role="button">补录新订单</a> {notempty name="list"}
                <a  class="btn btn-success" href="{:url('back.home/neworderout','','')}/t/{$total}" >导出筛选明细</a>
                {/notempty}
            </form>
                <h3 style="text-align: center">查询结果</h3>

            {notempty name="list"}
            <h4  style="font-size: 16px;color:white;background-color:#3498db;height: 40px;padding-top: 10px" >{$sqlinfo}</h4>
            {/notempty}

                    <table class="table table-bordered table-hover table-condensed" style="text-align: center">
                        <thead  >
                        <tr>

                            <th  style="text-align: center">序号</th>
                            <th  style="text-align: center">订单日期</th>
                            <th style="text-align: center" >订单号</th>
                            <th style="text-align: center" >兑换门店</th>
                            <th style="text-align: center" >商品</th>
                            <th style="text-align: center" >数量</th>
                            <th style="text-align: center" >规格</th>
                            <th style="text-align: center" >金额</th>
                            <th style="text-align: center" >提货方式</th>
                            <th style="text-align: center" >订单状态</th>
                            <th style="text-align: center" >处理结果</th>
                            <th style="text-align: center" >操作</th>


                        </tr>
                        </thead>
                        <tbody>

                        {empty name="list"}
                        <td colspan="12" style="font-size: 16px;color:red">暂无记录 <!--{$sql}--></td>
                        {else /}
                        {volist name="list" id="vo" key="k"}
                        <tr>
                            <td scope="row" ><input type="hidden" value="{$vo.id}"> {$k}</td>
                            <td >{$vo.create_time|date="Y-m-d"}</td>
                            <td style="text-align: left;" >{$vo.order_id}</td>
                            <td>{$vo.company}</td>
                            <td>{$vo.product}</td>
                            <td>{$vo.num}</td>
                            <td>{$vo.specification}</td>
                            <td>{$vo.total}</td>
                            <td >{if $vo.type == '1'}自提
                                {else /}配送
                                {/if}
                            </td>
                            <td> {switch vo.status }
                                {case 1 }<span style="color:red">未发货</span>{/case}
                                {case 2 }已发货{/case}
                                {case 3 }售后中{/case}
                                {case 4 }已完成{/case}
                                {default /}争议订单
                                {/switch}</td>
                            <td>处理详情</td>
                            <td>
                                <a href="{:url('back.home/dealpatchorder','','')}/id/{$vo.id}">订单处理</a>\

                                <a href="{:url('back.home/delepatchorder','','')}/id/{$vo.id}">删除</a>\
                                <a href="{:url('back.home/modipatchorder','','')}/id/{$vo.id}">修改</a>
                                {if $vo.status != '4'}\<a href="{:url('back.home/finishpatchorder','','')}/id/{$vo.id}">完成交易</a>
                                {/if}


                            </td>

                        </tr>
                        {/volist}
                        <td colspan="12" style="font-size: 16px;color:red;text-align: right">查询订单合计: {$total|round=###,2}元</td>
                        {/empty}
                        </tbody>
                    </table>


    </div>
        {notempty name="list"}
        <div class="pages" >{$page|raw}</div>
        {/notempty}

</div>
</div>








