{layout name="backlayout" /}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plug/manyupload/control/css/zyUpload.css">
<script src="__PUBLIC__/plug//manyupload/control/js/jquery-1.7.2.js"></script>
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 200px;yellow;height: 100%">
    <h1 style="text-align:center;">html5批量上传文件</h1>
    <div id="demo" class="demo"></div>
    <script type="text/javascript">
        //上传的路径
        var url = "{:url('index/upload')}";
    </script>
    <!-- 引用核心层插件 -->
    <script src="__PUBLIC__/plug/manyupload/core/zyFile.js"></script>
    <!-- 引用控制层插件 -->
    <script src="__PUBLIC__/plug/manyupload/control/js/zyUpload.js"></script>
    <script type="text/javascript">
        $(function(){
            // 初始化插件
            $("#demo").zyUpload({
                width            :   "650px",                 // 宽度
                height           :   "400px",                 // 宽度
                itemWidth        :   "120px",                 // 文件项的宽度
                itemHeight       :   "100px",                 // 文件项的高度
                url              :   url,  // 上传文件的路径
                multiple         :   true,                    // 是否可以多个文件上传
                dragDrop         :   true,                    // 是否可以拖动上传文件
                del              :   true,                    // 是否可以删除文件
                finishDel        :   false,                    // 是否在上传文件完成后删除预览
                /* 外部获得的回调接口 */
                onSelect: function(files, allFiles){                    // 选择文件的回调方法
                    console.info("当前选择了以下文件：");
                    console.info(files);
                    console.info("之前没上传的文件：");
                    console.info(allFiles);
                },
                onDelete: function(file, surplusFiles){                     // 删除一个文件的回调方法
                    console.info("当前删除了此文件：");
                    console.info(file);
                    console.info("当前剩余的文件：");
                    console.info(surplusFiles);
                },
                onSuccess: function(file){                    // 文件上传成功的回调方法
                    console.info("此文件上传成功：");
                    console.info(file);
                },
                onFailure: function(file){                    // 文件上传失败的回调方法
                    console.info("此文件上传失败：");
                    console.info(file);
                },
                onComplete: function(responseInfo){           // 上传完成的回调方法
                    console.info("文件上传完成");
                    console.info(responseInfo);
                }
            });
        });
    </script>
</div>