{layout name="backlayout" /}
<div class="container-fluid cm-container-white" style="margin-top:20px;padding-top: 30px;height: 100%">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>商家列表</h3></div>
                <h4 style="padding-left: 25px;margin: 5px 0px;">
                    <a href="{:url('back.home/addvender')}" class="btn btn-primary" role="button">新增商家</a>
                </h4>
                <div class="panel-body" style="padding-top: 0px;">
                    <table class="table table-bordered table-hover table-condensed" style="text-align: center">
                        <thead  >
                        <tr>
                            <th  style="text-align: center">序号</th>
                            <th  style="text-align: center">名称</th>
                            <th  style="text-align: center">地址</th>
                            <th style="text-align: center" >形象图</th>
                            <th style="text-align: center">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td scope="row">1</td>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>删除/修改</td>
                        </tr>
                        <tr>
                            <td scope="row">2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>删除/修改</td>
                        </tr>
                        <tr>
                            <td scope="row">3</td>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                            <td>删除/修改</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>
</div>

